SECRET_KEY=change-me-to-a-random-secret
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=your-db-name
APP_TITLE=your-app-title
APP_NAME=your-app-name
APP_ADDRESS=your-app-address
APP_PHONE=(021) 1234567
XENDIT_API_KEY=your-api-key
XENDIT_CALLBACK_TOKEN=url-webhook
FENRIR_DEV_MODE=1
